# Internal git files
*.diff
# Ignore model outputs
*.log*
*.jpg*
# Ignore VSCode files
.vscode
# Ignore internal Python directories
**/__pycache__
**/pyyaml
# Ignore data files
data_*
output_*
# Additional files
foo.txt
# Private scripts
*data_processor.py
