# Internal git files
*.diff
*.diff*
*.diff.*
# Ignore model outputs
**/logs
*.log*
*.jpg*
# Ignore VSCode files
.vscode
# Ignore internal Python directories
**/__pycache__
**/pyyaml
# Ignore data files
data_*
output_*
**/output_files
*.png
# Additional files
foo.txt
# Private scripts
*data_processor.py
# Document files.
*.ods
