data-science-types>=0.2.22
jedi>=0.18.0
jeepney>=0.6.0
jupyter-client>=6.1.11
jupyter-core>=4.7.0
matplotlib>=3.3.3
mypy>=0.782
mypy-extensions>=0.4.3
numpy>=1.19.5
pandas>=1.2.1
pathspec>=0.8.1
py>=1.10.0
pylint>=2.6.0
pysolar>=0.9
python-dateutil>=2.8.1
PyYAML>=5.4.1
regex>=2020.11.13
scipy>=1.6.0
scour>=0.38.2
toml>=0.10.2
tornado>=6.1
typing-extensions>=3.7.4.3
urllib3>=1.26.4
wcwidth>=0.2.5
wrapt>=1.12.1
zipp>=3.4.0
